.sidebar {
    width: 100%;
    max-width: 255px;
    background: #F7F7F7;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    .logo{
        width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 11px;
    }
    .logo img {
        max-width: 190px;
        height: auto;
    }
    .logo p {
        font-size: 9px;
        color: #9FA2B4;
    }
    .nav-item a{
        padding:10px 25px;
        color: #333333;
        border-left: 3px solid transparent;
    }
    .nav-item a:hover{
        padding:10px 25px;
        color: #333333;
        border-left: 3px solid #333333;
    }
    .nav-item a.active{
        border-left: 3px solid #333333;
        background: rgba(39, 174, 96, 0.08);
    }

}