.landing-page {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  h2{
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    color: #252733;
    font-weight: 700;
    margin: 60px 0;
  }
  .logo {
    margin: 0 auto;
    p{
      font-family: 'Mulish', sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: #9FA2B4;
    }
  }
  .business a{
    display: flex;
    padding: 40px;
    background: #fff;
    min-height: 310px;
    width: 308px;
    border-radius: 66px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .business a:hover{
    box-shadow: 0px 0px 4px rgb(66, 149, 57);
  }
  label {
    font-size: 14px;
    font-weight: 800;
    margin: 30px 0 0;
  }
}
