.landing-page {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  text-align: center; }
  .landing-page h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    color: #252733;
    font-weight: 700;
    margin: 60px 0; }
  .landing-page .logo {
    height: auto;
    margin: 30px auto; }
    .landing-page .logo a img {
      max-width: 245px;
      width: 100%;
      height: auto;
      margin-bottom: 20px; }
    .landing-page .logo p {
      font-family: 'Mulish', sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: #9FA2B4; }
  .landing-page .business a {
    display: flex;
    padding: 40px;
    background: #fff;
    min-height: 310px;
    width: 308px;
    border-radius: 66px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center; }
  .landing-page .business a:hover {
    box-shadow: 0px 0px 4px #429539; }

/*# sourceMappingURL=index.css.map */
