.focus-sector-wrap{
  .roles-table {
    table {
      background: #fff;
    }
    table thead th {
      background: #429539;
      font-size: 16px;
      color: #fff;
      padding: 15px;
      border:none;
      text-align: center;
      font-weight: 700;
      &:first-child {
        border-top-left-radius: 15px;
      }
      &:last-child {
        border-top-right-radius: 15px;
      }
    }
    table tbody tr:first-child td {
      font-size: 12px;
      font-weight: 700;
      color: #9FA2B4;
      border: none;
      &:nth-child(5),
      &:nth-child(9),{
        border-right: 1px solid #dee2e6;
      }
    }
    table tbody tr td{
      border: 1px solid #dee2e6;
      font-size: 12px;
      font-weight: 700;
      a{
        color: #429539;font-weight: 400;
        text-decoration: none;}
      &:first-child{border-left: none}
      &:last-child{border-right: none}
    }
  }
}
