@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');
body {
  background: #f7f7f7 !important;
  font-family: 'Mulish', sans-serif !important;
}

.main {
  background: #f7f7f7;
  font-family: 'Mulish', sans-serif;
}

.title {
  h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    color: #252733;
    font-weight: 700;
  }
}

.form-group {
  label {
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    span {
      font-weight: 400;
      font-size: 17px;
    }
  }

  input {
    background: #ffffff;
    border: 1px solid #cfcdcd;
    box-sizing: border-box;
    border-radius: 15px;
  }

  input[type='text'] {
    height: 44px;
  }

  textarea {
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    border-radius: 15px;
    resize: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: 99%;
    border-radius: 15px;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
  }

  button {
    min-width: 130px;
    height: 40px;
    &:hover {
      background: #429539;
      border-color: #429539;
    }
  }
  .skip-btn {
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin: 20px 10px;
    cursor: pointer;
  }
}

.form-holder {
  .search-wrapper {
    background: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: 99%;
    border-radius: 15px;
    height: 44px;
    .searchBox {
      height: auto;
    }
  }

  .h-70 {
    .search-wrapper {
      height: 70px;
      max-height: 70px;
    }
    > input {
      height: 70px;
    }
  }
}

table {
  background: #fff;
}
table thead th {
  background: #429539;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  &:first-child {
    border-top-left-radius: 15px;
  }
  &:last-child {
    border-top-right-radius: 15px;
  }
}
table tbody tr:first-child td {
  font-size: 12px;
  font-weight: 700;
  color: #9fa2b4;
  border: none;
  &:nth-child(5),
  &:nth-child(9) {
    border-right: 1px solid #dee2e6;
  }
}
table tbody tr td {
  border: 1px solid #dee2e6;
  font-size: 12px;
  font-weight: 700;
  a {
    color: #429539;
    font-weight: 400;
    text-decoration: none;
  }
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}

.action {
  position: relative;
  input {
    background: url('../../public/assets/img/enter-arrow.png') no-repeat 96% 13px #f2f2f2;
    border-radius: 5px;
    outline: 0;
    border: none;
    height: 33px;
    font-size: 11px;
    font-weight: 400;
    color: #000;
    width: 100%;
    padding-right: 20px;
    padding-left: 10px;
  }
}

.form-group .form-group {
  margin-bottom: 0;
}
