.ris-details {

  .table {
     thead th {
       border: none;
       background: #429539;
       font-size: 12px;
       color: #fff;
       padding: 15px;
     }
    thead th:first-child{
      border-top-left-radius: 15px;
    }
    thead th:last-child{
      border-top-right-radius: 15px;
    }
    tbody {
      background:#fff;
    }
    tbody tr td {
      border: none;
      padding: 0px 15px;
      vertical-align: middle;
      p{
        font-size: 11px;
      }
      a{
        font-size: 11px;
        color: #429539;
        text-decoration: none;
      }
    }
    .empty-record {
      height: 400px;
      > div {
        height: 100%;
      }
      button {
        width: 350px;
      }
    }
  }
}
