.capabilities {
  table{
    background: transparent;
    border: none !important;
    tr{background: #fff;}
    tr:nth-child(1) td{
      border: none;
      background: #429539;
      text-align: center;
      color: #fff;
      border-radius: 25px 25px 0 0;
      font-size: 14px;
      font-weight: 600;
    }
    tr:nth-child(2) td{
      border: none;
      background: #7ECD76;
      text-align: center;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
    tr:nth-child(2) td:first-child{
      border-right: 1px solid #000;
    }
    tr:nth-child(3) td{
      border: none;
      background: #99ED90;
      text-align: left;
      color: #000;
      font-size: 14px;
      font-weight: 600;
      border-right: 1px solid #000;
    }
    tr:nth-child(3) td:last-child{border: none}
    tr td{
      label{
        font-size: 14px;
        font-weight: 600;
        margin: 0;
      }
      p{
        margin: 0;
        font-weight: 400;
      }
    }
    tbody > tr > td {
      background: transparent !important;
      border-right: 1px solid #000 !important;
      color: #000 !important;
      text-align: left !important;
      font-size: 11px !important;
    }
    tbody > tr > td:last-child {border: none !important;}
    tr td .content {
      p{
        margin-bottom: 20px;
      }
      a {
        display: block;
        text-align: right;
        text-decoration: none;
        cursor: pointer;
        color: #429539;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        margin: 15px 0;
        font-size: 11px;
      }
    }
    .form-check {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .form-check label {
      font-size: 11px;
      font-weight: 400;
    }
    .form-check input {
      position: static;
    }
  }
}
