.add-company-form {
  max-width: 80%;
  margin: 30px auto;

  .search-wrapper {
    background: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: 99%;
    border-radius: 15px;
    height: 44px;
    .searchBox{
      height: auto;
    }
  }

  .h-70 {
    .search-wrapper { height: 70px; max-height: 70px; }
     > input { height: 70px; }
  }

  .group-fields {
    position: relative;
    margin: 30px 0;
  }

  svg {
    position: absolute;
    right: -20px;
    top: 44%;
    cursor: pointer;
  }
}
