.swot-analysis {
  table {
    height: 560px;
  }
  table tr td label {
    font-size: 12px;
    font-weight: 700;
    color: #000;
  }
  .action {
    display: flex;
    align-items: center;
  }
  .swot_wrap {
    padding-right: 15px;
    .detail-field{
      border:1px solid #E5E5E5;
      border-radius: 5px;
      padding: 5px;
      font-size: 11px;
      color: #000;
      min-height: 32px;
      position: relative;
      p{
        margin: 0;
      }
    }
    svg {
      position: absolute;
      font-size: 12px;
      right: -20px;
      top: 35%;
      cursor: pointer;
      color: #000;
    }
  }
}


