.wrapper {
    padding: 20px;
  }
  
  .table {
    &_header {
      background-color: #439538;
      display: flex;
      justify-content: space-between;
      padding: 25px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      &_col {
        display: flex;
        flex-direction: column;
        color: white;
      }
    }
  
    &_body {
      padding: 25px;
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(14.28%, 1fr) );
      &_col {
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
      }
    }
  
    &_footer {
      background-color: #439538;
      padding: 25px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      justify-content: center;
      &_btn {
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: bold;
        background-color: #CFCDCD;
      }
    }
  }
  
  .block {
    &_action {
      background-color: #7CFD76;
      border-radius: 20px;
      padding: 20px;
    }
    &_active {
      background-color: #95D9FF;
    }
    &_disable {
      background-color: #CFCDCD;
    }
  }
  
  .number {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transform: translate(0, 50%) ;
    border: 1px solid black;
  
    &_transform1 {
      transform: translate(0, 50%) ;
    }
  
    &_transform2 {
      transform: translate(50%, 50%) ;
    }
  }
  
  .left_line {
    position: absolute;
    border-left: 2px solid #439539;
    left: -5px;
    height: calc(100% + 20px);
    transform: translateY(-10px);
  }
  
  .right_line{
    position: absolute;
    border-right: 2px solid #439539;
    right: -20px;
    height: calc(100% + 20px);
    transform: translateY(-10px);
  }
  
  .left_arrow {
    position: absolute; 
    color: #439539;
    top: -5px;
    left: -9.5px;
    transform: translateY(-100%)
  }
  
  .right_arrow {
    position: absolute; 
    color: #439539;
    bottom: -5px;
    right: -24px;
  }
  
  
  .span1 { grid-column-start: span 1 }
  .span2 { grid-column-start: span 2 }
  .span3 { grid-column-start: span 3 }
  .span4 { grid-column-start: span 4 } 
  .span5 { grid-column-start: span 5 }
  .span6 { grid-column-start: span 6 }
  
  .rowStart2 { grid-row-start: span 2}
  .rowStart3 { grid-row-start: span 3}
  .rowStart4 { grid-row-start: span 4}
  .rowStart5 { grid-row-start: span 5}
  .rowStart6 { grid-row-start: span 6}
  .rowStart7 { grid-row-start: span 7}