.dashboard-header{
    background: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .navbar,.navbar-collapse{
        justify-content: flex-end;
    }
    .nav-link{
        display: flex;
        color:#000;
    align-items: center;
    justify-content: center;
    }
    .nav-link .icon-wrap {
        background: #ccc;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .nav-link svg {
        font-size: 11px;
    }
}