.companies {
  table thead th {
    font-size: 12px;
    text-align: left;
    border-bottom: none;
  }
  table > tr td {
    padding: 0;
    border: none;
    background: #429539;
    font-size: 12px;
    color: #fff;
  }
  table > tr td > tr td {
    padding: 15px;
    color: #fff;
    font-weight: 600;
  }
  table tbody  > tr:first-child > td{
    color: inherit;
    border: 1px solid #dee2e6;
  }
  .action-btn{
    margin: 30px 0 0;
    button {
      margin: 15px;
      height: auto;
      padding: 10px 30px;
    }
  }
}
