.regional-companies {
  .download-btn {
    min-width: 350px;
    font-size: 21px;
    line-height: 34px;
    height: auto;
  }
  .file-drop-wrap {
    width: 100%;
    max-width: 670px;
    height: 438px;
    margin: 30px auto;

    background-image: linear-gradient(to right, black 50%, transparent 50%), linear-gradient(to right, black 50%, transparent 50%), linear-gradient(to bottom, black 50%, transparent 50%), linear-gradient(to bottom, black 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    .file-drop {
      /* relatively position the container bc the contents are absolute */
      position: relative;
      height: 100%;
      width: 100%;
    }

    .file-drop > .file-drop-target {
      /* basic styles */
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 2px;

      /* horizontally and vertically center all content */
      display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;

      flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;

      align-items: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;

      justify-content: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;

      align-content: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;

      text-align: center;
    }
    .file-drop > .file-drop-target img{
      margin-bottom: 30px;
    }
    .file-drop > .file-drop-target h2{
      font-size: 25px;
      font-weight: 600;
    }
    .file-drop > .file-drop-target button{
      min-width: 200px;
    }
    .file-drop > .file-drop-target.file-drop-dragging-over-frame {
      /* overlay a black mask when dragging over the frame */
      border: none;
      background-color: transparent;
      box-shadow: none;
      z-index: 50;
      opacity: 1;

      /* typography */
      color: white;
    }

    .file-drop > .file-drop-target.file-drop-dragging-over-target {
      /* turn stuff orange when we are dragging over the target */
      color: #000;
      box-shadow: 0 0 13px 3px #429539;
    }
  }
}
